.popup-container {
  background-color: #cfd0d462;
  text-align: center;
  padding: 2% 30%;
}

.popup-container p {
  font-size: 0.8em;
}

.disclaimer-btn {
  padding: 15px 30px;
  margin: 2%;
  bottom: 0;
  border: 2px solid white;
  background-color: #243b67a4;
  color: white;
}

.disclaimer-btn:hover {
  background-color: #25ad894d;
  color: black;
}

@media (max-width: 800px) {
  .popup-container {
    background-color: #cfd0d462;
    text-align: center;
    padding: 2% 10%;
  }
}
