.services_grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 3%;
}

.services_item {
  border: 2px solid #e6e6e7;
  box-shadow: 5px 10px #cfd0d462;
  text-align: center;
  padding: 30px;
  margin-bottom: 3%;
}

.btn_more {
  border: 2px solid #e6e6e7;
  background-color: #1a3c67;
  color: #e6e6e7;
}

.btn_more:hover {
  background-color: #1a3b6780;
}

.modal {
  background-color: red;
  width: 100vw;
  height: 100vh;
  padding-top: 30%;
}

@media (max-width: 500px) {
  .services_grid {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3%;
  }
}
