.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.grid-item {
  border: 1px solid white;
  text-align: center;
}

.grid-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* responsive */
