.advisory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.grid-item {
  border: 1px solid white;
  text-align: center;
}

.advisory_images {
  object-fit: contain;
  width: 12em;
}

.advisor_writeup {
  text-align: justify;
}

@media (max-width: 500px) {
  .advisory_images {
    width: 300px;
  }
}
