.services_grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
}

.services_item {
  border: 2px solid white;
  box-shadow: 5px 10px #cfd0d462;
  text-align: center;
  padding: 30px;
}

.btn_more {
  border: 2px solid white;
  background-color: #25ad894d;
  color: white;
}

.btn_more:hover {
  background-color: #243b67a4;
}
