.nav {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
}

.logo {
  height: 75px;
  margin: 0.5% 1%;
}

.navbar {
  list-style: none;
  float: right;
}

li {
  display: inline;
}

.navlinks {
  font-size: 1.2em;
  padding: 0px 20px;
}

a:hover {
  color: #25ad88;
}
