.nav {
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo {
  height: 75px;
  margin: 0.5% 1%;
}

.navbar {
  list-style: none;
  float: right;
}

li {
  display: inline;
}

a {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0px 20px;
  color: #1a3c67;
}

a:hover {
  color: #25ad88;
}
