.jumbotron {
  background: linear-gradient(rgba(26, 59, 103, 0.3), rgba(36, 36, 46)),
    url(./jumbotron1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%;
  margin-top: 5%;
  width: 100%;
  height: 88vh;
  display: table;
}

.tagline {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 5em;
  color: #e6e6e7;
  margin-block-start: 0%;
  margin-block-end: 0%;
}

@media (max-width: 500px) {
  .tagline {
    font-size: 3em;
  }

  .jumbotron {
    background-position: center;
  }
}
