.team-grid-item-a {
  width: 92%;
  text-align: justify;
  margin: auto;
}

#team p {
  /* font-size: 1.2em; */
}

.card_content {
  font-size: 0.8em;
  text-align: justify;
}

.card_image {
  width: 150px;
  height: 150px;
}

@media (max-width: 500px) {
  .team-grid-item-a {
    width: auto;
  }
}
