.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.grid-item {
  border: 1px solid white;
  text-align: center;
}

.team_images {
  object-fit: contain;
  width: 140px;
  height: 140px;
  display: block;
  margin: 0px auto 16px auto;
}

.team_writeup {
  text-align: justify;
}

#team h3 {
  margin-block-end: 0%;
}

@media (max-width: 500px) {
  .team_images {
    width: 280px;
  }
}
