#about h5 {
  text-align: justify;
  line-height: 2;
}

#about h1 {
  text-align: center;
  line-height: 1.2;
  color: #1a3c67;
  padding-bottom: 2%;
}

@media (max-width: 500px) {
  #about h1 {
    text-align: left;
    line-height: 1.1;
  }

  #about h5 {
    text-align: justify;
    line-height: 1.5;
  }
}
