.btn_investNow {
  border: 2px solid #e6e6e7;
  background-color: #1a3c67;
  color: #e6e6e7;
  font-size: 1.2em;
}

.btn_investNow:hover {
  background-color: #1a3b67e1;
}

#mindful-wealth {
  padding: 0;
  margin: 0;
}
