.services_grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

.services_item {
  border: 2px solid #e6e6e7;
  box-shadow: 5px 10px #cfd0d462;
  text-align: justify;
  padding: 30px;
  margin: 0% 3% 3% 3%;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.btn_more {
  border: 2px solid #e6e6e7;
  background-color: #1a3c67;
  color: #e6e6e7;
  font-size: 1.2em;
  margin-bottom: 1%;
}

.btn_more:hover {
  background-color: #1a3b6780;
}

.btn_close {
  border: 2px solid #e6e6e7;
  background-color: #1a3c67;
  color: #e6e6e7;
  font-size: 1.2em;
  margin-top: 1%;
}

.btn_close:hover {
  background-color: #1a3b67c5;
}

.research_images {
  object-fit: contain;
  justify-content: center;
  width: 38em;
}

.research_btns_container {
  text-align: center;
  align-self: center flex-end;
}

.modal-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3%;
  align-items: center;
}

.learn-more {
  padding: 0;
}

#research h3 {
  text-align: left;
  height: 2em;
}

#research a {
  padding: 0;
}

#research p {
  white-space: pre-wrap;
}

@media (max-width: 1025px) {
  .modal-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .research_images {
    width: 600px;
  }
}

@media (max-width: 770px) {
  .services_grid {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .research_images {
    width: 280px;
  }
}
