.principles_grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto auto;
  grid-template-areas:
    "low_fees long_term_efficient behavioral"
    ". principles_button .";
}

.principles_item {
  border: 2px solid #e6e6e7;
  box-shadow: 5px 10px #cfd0d462;
  text-align: justify;
  padding: 30px;
  margin: 0% 3% 3% 3%;
}

.low_fees {
  grid-area: low_fees;
}

.long_term_efficient {
  grid-area: long_term_efficient;
}

.behavioral {
  grid-area: behavioral;
}

.principles-button {
  grid-area: principles_button;
  padding: 3% 0%;
  margin: auto;
}

.modal {
  background-color: red;
  width: 100vw;
  height: 100vh;
  padding-top: 30%;
}

@media (max-width: 770px) {
  .principles_grid {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "low_fees"
      "long_term_efficient"
      "behavioral"
      "principles_button";
  }
}
