/*
grey #cfd0d
blue #1a3c67
green #25ad88
*/

.secA {
  background-image: linear-gradient(to top right, #1a3c67, #1a3b679f);
  color: white;
  padding: 3% 0%;
}

.secB {
  background-color: #cfd0d462;
  color: black;
  padding: 3% 0%;
}

.container {
  padding: 0% 3%;
}

.link {
  color: #61dafb;
}

button {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  padding: 15px 30px;
  bottom: 0;
}
