/*
lightshade: #E6E6E7
lightaccent: #65B9DA
main: #1A3C67
darkaccent: #25AD88
darkshade: #24242E

black: #24242e
success: #3f8f57
warning: #bd7f1f
danger: #f44336
*/

.secA {
  /*dark*/
  /* background-image: linear-gradient(to top right, #1a3c67, #1a3b679f); */
  background-image: linear-gradient(to top right, #24242e, #1a3c67);
  color: #e6e6e7;
  padding: 3% 0%;
}

.secB {
  /*light*/
  background-color: #e6e6e7;
  color: #24242e;
  padding: 3% 0%;
}

.container {
  padding: 0% 3%;
}

button {
  font-family: "Cormorant Garamond", sans-serif;
  padding: 15px 30px;
  bottom: 0;
  font-size: 1.2em;
}
