.secA {
  background-image: linear-gradient(to top right, #25ad88, #1a3c67);
  color: white;
  padding: 8% 0%;
}

.secB {
  background-image: white;
  color: black;
  padding: 8% 0%;
}

.container {
  padding: 0% 3%;
}

.link {
  color: #61dafb;
}

button {
  font-family: "Proza Libre", "Cormorant Garamond", sans-serif;
  font-size: 0.9em;
  padding: 15px 30px;
}
